@import "tailwindcss";


@theme {
  --color-white-200: #F1F1F140;
  --color-white-500: #F1F1F1;
  --color-white-600: #FFFFFF;
  --color-black-200: #E6E5E580;
  --color-black-300: #CACACA40;
  --color-black-400: #AFAFAF80;
  --color-black-500: #A7A7A7;
  --color-black-600: #3A3A3A; 
  --color-background: #F7F7F7;

  --font-inter: "Inter", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-opensans: "Open Sans", sans-serif;
  --font-robotomono: "Roboto Mono", monospace;
  --font-bungee: "Bungee", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }
}

@source "./app/**/*.{js,ts,jsx,tsx}";
@source "./features/**/*.{js,ts,jsx,tsx}";
@source "./shared/**/*.{js,ts,jsx,tsx}";
@source "./widgets/**/*.{js,ts,jsx,tsx}"; 


.text-mobile-h1 {
  font-size: 32px;
  line-height: 40px;
}

.text-mobile-h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.text-mobile-h3 {
  font-size: 28px;
  line-height: 40px;
}

.text-mobile-h4 {
  font-size: 16px;
  line-height: 20px;
}

.text-mobile-text-small {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.text-mobile-text-medium {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.text-mobile-text-inter {
  font-size: 16px;
  line-height: 20px;
}

.text-mobile-text-category {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.text-mobile-text-description {
  font-size: 12px;
  line-height: 16px;
}

.text-mobile-text-cost-medium {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  font-family: var(--font-jetbrains);
}

.text-mobile-text-cost-small {
  font-size: 14px;
  line-height: normal;
  font-weight: 800;
  font-family: var(--font-jetbrains);
}

body {
  background: #171717;
  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;
}